body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fae1dd;
}

.container {
    position: relative;
}

.valentine {
    position: relative;
    top: 50px;
    cursor: pointer;
    animation: up 3s linear infinite;
}

@keyframes up{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform:translateY(-30px) ;
    }
}

.envelope {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f08080;
}

.envelope:before {
    background-color: #f08080 ;
    content:"";
    position: absolute;
    width: 212px;
    height: 212px;
    transform: rotate(45deg);
    top: -105px;
    left: 44px;
    border-radius: 30px 0 0 0;
}

.card {
   position: absolute; 
   background-color: #fff2df;
   width: 270px;
   height: 170px;
   top: 5px;
   left: 15px;
   box-shadow: -5px -5px 100px rgba(0, 0, 0, 4);  
}

.card:before {
    content:"";
    position: absolute;
    border: 3px solid #20005c;
    border-style: dotted;
    width: 240px;
    height: 140px;
    left: 12px;
    top: 12px;
}

.text {
    position: absolute;
    font-family: 'brush Script MT', cursive;
    font-size: 28px;
    text-align: center;
    line-height: 27px;
    top: 17px;
    left: 45px;
    color: #31011d;
}

.heart {
    background-color: #d62828;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 116px;
    left: 105px;
    transform: rotate(-45deg);
    width: 30px;
}

.heart:before, .heart:after {
    content:"";
    background-color: #d62828;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
}

.heart:before {
    top: -17px;
    left: 0;
}
.heart:after {
    left: 17px;
    top: 0;
}

.hearts {
    position: absolute;
    top: 10px;
}

@keyframes heart {
    0% {
        transform: translateY(0) rotate(-45deg) scale(0.3);
        opacity: 1;
    }
    100% {
        transform: translateY(-150px) rotate(-45deg) scale(1.3);
        opacity: 0.5;
    }
}

.one, .two, .three, .four, .five {
    background-color: red;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 10px;
    position: relative;
    transform: rotate(-45deg);
    top: 50px;
}
.one:before, .one:after, .two:before, .two:after, .three:before, .three:after, .four:before, 
.four:after, .five:before, .five:after {
    content:"";
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute
    ;
}
.one:before, .two:before, .three:before, .four:before, 
.five:before {
    top: -7px;
    left: 0;
}
.one:after, .two:after, .three:after, .four:after, 
.five:after {
    left: 7px;
    top: 0;
}

.one {
    left: 10px;
    animation: heart 1s ease-out infinite;
}
.two {
    left: 30px;
    animation: heart 2s ease-out infinite;
}
.three {
    left: 50px;
    animation: heart 1.5s ease-out infinite;
}
.four {
    left: 70px;
    animation: heart 2.3s ease-out infinite;
}
.five {
    left: 90px;
    animation: heart 1.7s ease-out infinite;
}

.front {
    position: absolute;
    border-right: 180px solid #f4978e;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left: 120px;
    top: 5px;
    width: 0;
    height: 0;
    z-index:10;
}
.front:before {
    position: absolute;
    content:"";
    border-left: 300px solid #f8ad9d;
    border-top: 195px solid transparent;
    left: -120px;
    top: -95px;
    width: 0;
    height: 0;
}
.shadow {
    position: absolute;
    width: 330px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.03);
    top: 265px;
    left: -15px;
    z-index: -1;
    animation: scale 3s linear infinite;
}

@keyframes scale {
    0%, 100% {
        transform: scaleX(1);
    }
}

.botao-link {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  position: absolute;
  top: 425px; 
  left: 0;
}

.btn {
  background-color: #ed5555;
  color: #ffdede;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 25px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: 0.3s;
  display: inline-block;
}

.btn:hover {
  background-color: #9d1e1e;
  transform: scale(1.05);
}